<link rel="import" href="/polymer/polymer-element.html">
<link rel="import" href="/polymer/lib/elements/dom-repeat.html">
<dom-module id="mygestor-clientes">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <div class="container">
    <div class="row">
      <button type="button"
              class="btn btn-primary"
              name="button"
              on-click="obtieneClientes();">Obtener Clientes</button>
      <table id="t01" class="table table-striped col-lg-12 col-xs-12">
        <tbody>
          <template is="dom-repeat"
                    items="{{clientesObtenidos}}">

          <tr>
            <th>Cliente</th>
            <th>Contacto</th>
            <th>Compañia</th>
          </tr>
          <tr>
            <td>
              [[item.CustomerID]]
            </td>
            <td>
              [[item.ContactName]]
            </td>
            <td>
              [[item.CompanyName]]
            </td>
          </tr>
          </template>
        </tbody>
     </table>
    </div>
  </div>

  </template>

  <script>
    /**
     * `mylogin-element`
     * visor personalizado para la tech university
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class mygestorclientes extends Polymer.Element {
      static get is() { return 'mygestor-clientes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'usuario'
          },
          prop2: {
            type: String,
            value: 'password'
          }
       };
      }
      obtieneClientes(){

          alert("hola mundo");


      }
    }

    window.customElements.define(mygestorclientes.is, mygestorclientes);
  </script>
  <script src="/js/customview.js"></script>
</dom-module>
