<link rel="import" href="/polymer/polymer-element.html">

<dom-module id="mylogin-element">
  <template>
    <div class="container">
      <div class="form">
        <h1>LOGIN</h1>
        <form>
            <input type="email" placeholder="[[prop4]]" required="required" value= "{{prop1::input}}"/>
            <input type="password" required="required" value = "{{prop2::input}}"/>
            <button on-click="hacerlogin();" class="col-lg-4 col-xs-12 btn btn-danger">Login</button>
        </form>
        <br></br>
        <h1>[[prop3]]</h1>
      </div>
    </div>
  </template>

  <script>
    /**
     * `mylogin-element`
     * visor personalizado para la tech university
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class myloginElement extends Polymer.Element {
      static get is() { return 'mylogin-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'usuario'
          },
          prop2: {
            type: String,
            value: 'password'
          },
          prop3: {
            type: String,
            value: 'no autorizado'
        },
          prop4: {
            type: String,
            value: 'usuario@hotmail.com'
          }
       };
      }
      hacerlogin(){

        if (this.prop2='123'){
          this.prop3 = "autorizado"
        }
        else
        {
          this.prop3 = "no autorizado"
        }


      }
    }

    window.customElements.define(myloginElement.is, myloginElement);
  </script>
</dom-module>
